@import "../../../App.scss";

.ad {
    height: 150px;
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;
}

.central {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    color: #fff;
    width: 380px;
    height: 100px;
    text-decoration: none;

    & img {
        width: 80px;
        height: 80px;
    }

    & p {
        margin: 0;
        padding: 0 1rem;
        font-size: 1.5rem;  
    }
}

.fc {
    font-size: 1.6rem;
    font-weight: 700;
}
