.post {
    position: relative;
    border: .5px solid #fff;
    box-sizing: border-box;
}

.desc {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    padding: 2rem;

    & h2 {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    & h1 {
        font-size: 2rem;
        letter-spacing: .1rem;
        margin-top: 0;
    }
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;

    &_wrap {
        
        height: 100%;
        width: 100%;
        object-fit: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }
    }
}
